.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    padding: 10px 20px;
}

.sidebar-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    gap: 15px; /* Space between links */
    /* Optional: flex: 1; to make it expand and push to the right if needed */
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}